@import '../../utils/variables.scss';

.contact-title {
    margin: 40px 56px;
    text-align: center;
    font-family: $garamong-font;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
    /* 111.111% */
}


form {
    max-width: 500px;
    margin: 0 auto;
}

.form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__name {
        margin: 20px 0 5px;
    }

    &__email {
        margin: 20px 0;
    }

    &__text {
        margin: 20px 0;

        padding: 20px 15px 100px;
    }
}

p {
    padding: 0 20px;
    color: #bf1650;
}

p::before {
    display: inline;
    content: "⚠ ";
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 40px;
    border: 2px solid rgba(0, 0, 0, 0.195);
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;

    color: #616161;
    font-family: $mulish-font;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 154.545% */
}

input:focus {
    border: 2px solid rgb(0, 0, 0);
}

button[type="submit"],
input[type="submit"] {
    border-radius: 40px;
    background: #000;
    color: #fff;
    text-align: center;
    font-family: $mulish-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 140% */
    display: flex;
    justify-content: center;

    transition: 0.2s ease-in-out;
    cursor: pointer;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
    background: #626262;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

input:disabled {
    opacity: 0.4;
}

input[type="button"]:hover {
    transition: 0.3s all;
}

button[type="button"] {
    display: block;
    appearance: none;
    background: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
}

hr {
    margin-top: 30px;
}

button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
}

@media screen and (min-width:320px) and (max-width:640px) {
    .contact-title {
        margin: 40px 0;
        padding: 20px;
        text-align: left;
        font-size: 34px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .form {
        margin: 0 auto;
        padding: 0 10px;
        justify-content: center;

        &__name {
            font-size: 18px;
            line-height: 28px;
            padding: 23px 28px;
        }

        &__email {
            font-size: 18px;
            line-height: 28px;
            padding: 23px 28px;
        }

        &__text {
            height: 200px;
            font-size: 18px;
            line-height: 28px;
            /* 155.556% */
        }
    }
}