@import '../../utils/variables.scss';

.gridItem {
    padding: 64px 56px;
    border: 2px solid #000;
    border-radius: 48px;

    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;

    background-color: #eee;
    max-width: 574px;

    &__text {
        font-family: $mulish-font;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        /* 153.846% */
        width: 100%;
    }

    &__button {

        .gridButton {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 112px;
            height: 80px;
            border-radius: 64px;
            background: #FFF;
        }
    }
}

@media screen and (min-width:320px) and (max-width:640px) {
    .gridItem {
        padding: 30px;

        &__text {
            font-size: 22px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.44px;
        }
    }
}