.sectionWrapper {
    margin: 0 50px;

    display: flex;
    flex-direction: column;
    gap: 80px;

    &__container {
        display: flex;
        justify-content: space-evenly;
    }

    &__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}


@media screen and (min-width:320px) and (max-width:640px) {
    .sectionWrapper {
        display: flex;
        flex-direction: column;

        margin: 50px 10px;

        &__container {
            display: flex;
            flex-direction: column;
        }
    }
}