@import "../../utils/variables.scss";

.card {
    padding: 48px 88px;
    max-width: 572px;

    &__image {
        width: 100%;
        margin-bottom: 48px;
    }

    &__title {
        margin-bottom: 32px;
        font-family: $garamong-font;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: 3px;
    }

    &__text {
        max-width: 400px;

        font-family: $mulish-font;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        /* 154.545% */
    }
}